.reg-labels2{
    display: flex;
    flex-direction: row;
    border: solid darkgrey 2px;
    border-radius: 3px;
    justify-content: space-around;
    position: sticky;
    box-shadow: #12001C 10rem;

    width: 100%;

    background-color: #0B1D2B;

    margin: 1px;
}

.reg-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.25fr 1fr 0.25fr;
}

.reg-content .reg-item{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.reg-content .reg-item2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
}

.reg-labels{
    display: flex;
    flex-direction: column;
    border: solid darkgrey 2px;
    border-radius: 3px;
    justify-content: space-around;

    margin: 1px;

    background-color: #FFFFFF;

    width: 100%;
}

.reg-labeled{
    border-radius: 3px;
    border: solid black 1px;
    margin: 10px;
    width: 10rem;
    align-content: center;
}

.reg-labeledButton{
    border-radius: 3px;
    border: solid black 2px;
    background-color: #00E9DE;
    margin: 10px;
    width: 10rem;
}

label{
    margin-left: 10px;
    margin-top: 5px;
}