

.mainRoom{
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 1fr 5fr;
}



.mainRoom .video {

    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2;

    display: flex;
    justify-content: center;


    background-image: linear-gradient(to bottom , rgb(160, 23, 130), rgb(39, 39, 39));    

}

.mainRoom .chat{
    grid-column-start: 2;
    grid-row-start: 1;
    grid-column-end: 3;
    grid-row-end: 3;

    border-left: 1px solid rgb(92, 90, 90);

    background-color: rgb(20, 20, 20);
}

.mainRoom .infoRoom{

    background-image: linear-gradient(to bottom, rgb(39, 39, 39), rgb(31, 34, 36));

    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(3,1fr);

}

video{
    
    size: 640px 480px;

}

/* ____________________________ */

// .infoRoom .watch{



// }